* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Futura-Bold, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    list-style-type: none;
}

@font-face {
    font-family: "eduTas";
    src: url("../../fonts/EduTASBeginner-Medium.ttf") format("truetype");
    font-style: normal;
}

body {
    background: url(../../html-pictures/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #008371;
    /*background-color: #ACE9FE;*/
    min-height: 100vh;
}

header {
    position: relative;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 3px 3px 0px #000000;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 20px;
}

header h1 {
    display: block;
    font-size: 40px;
}

header ul {
    display: block;
}

header ul li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.tipos-animais ul {
    display: block;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 15px 0;
    margin: 20px;
    border-radius: 20px;
}

.tipos-animais ul li {
    display: inline-block;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.back0-img {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 21%;
}

.back0-img img {
    width: 100%;
}

main {
    width: 100%;
    /*height: 100%;*/
    position: relative;
    text-align: center;
    margin: 240px auto;
}

main h1 {
    position: relative;
    top: -40px;
    font-family: "eduTas";
    font-size: 3.5em;
    font-weight: bold;
    display: inline-block;
    color: #000000;
}

.arrow img {
    position: relative;
    top: 150px;
    width: 100px;
    animation: animar 2.5s infinite;
}

@keyframes animar {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.7);
    }
}

.about {
    position: relative;
    width: 75%;
    background-color: #b7e4c7;
    border-radius: 30px;
    margin: 80px auto;
}

.about ul {
    padding: 20px 0;
}

.about ul li {
    font-size: 1.9em;
    position: relative;
    width: 80%;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 16px;
    padding: 16px 16px 12px 16px;
    margin: 20px auto;
}

footer {
    position: relative;
    text-align: center;
    bottom: -10px;
    width: 100%;
    padding: 40px 0;
    background-image: url(../../html-pictures/bg.jpg);
}

@media screen and (max-width: 800px) {
    header {
        display: block;
        text-align: center;
        width: 90%;
        margin: 20px auto 0 auto;
    }
    
    header h1 {
        display: block;
        font-size: 50px;
    }
    
    header ul {
        display: block;
    }
    
    header ul li {
        display: inline-block;
        font-size: 0.9em;
        margin: 0 0 0 15px;
    }

    main {
        margin: 60px auto;
    }

    .about {
      width: 90%;  
    }

    .arrow img {
        top: 0px;
    }

    .about ul li {
        text-align: center;
    }
    
    .back0-img {
        width: 29%;
    }
}